.nav-wrapper{
    color: black;
    background-color: #26a69a;
}

nav .brand-logo {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
  }

 nav ul a{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}