
.review{
    background-color:#26a69a;
    border-radius: 5px;
    padding: 10px;
}
a.link-text-review{
    color:blue;
}
.has-error{
    padding-bottom: 10px;
}
.stars{
    text-align: right;
}
.icon-gold{
    color: gold;
}
.icon-grey{
    color:grey;
}
.label-recenzija{
    color: white;
}
input[type=text]:not(.browser-default) .recenzija{
    border-bottom: 1px solid #ffffff;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    height: 46px;
    float:left;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: gold;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: gold;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
