.gold{
    display: inline-flex;
    vertical-align: bottom;
    color: gold;
}
.blueIcon{
    display: inline-flex;
    vertical-align: bottom;
    color: #26a69a;
}
.container-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    gap:1rem;
}

span.icon{
    display: inline;
    font-size: 18px;
    text-align: center;
    float: right;
    line-height: 25px;
    
}